<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>


                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <h3><i class="fa fa-pencil small-icons bk-color-light-blue"></i>Send Us Your Query</h3>
                        <hr />
                        <%= form_for :user , :url=>{:controller=>"creatives", :action => "get_query"} do | i | %>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <%= i.text_field :name,:placeholder=>"Name",:required=>"true"%>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <%= i.text_field :email,:placeholder=>"Email address",:required=>"true"%>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        <%= i.text_area :message, :placeholder=>"Message",:required=>"true"%>
                                    </div>
                                    <div class="form-group">
                                        <%= i.submit "Submit Query"%>
                                    </div>
                                </div>
                            </div>
                            <%end%>
                        </form>
                    </div>



                <div class="col-lg-4 col-lg-offset-2 text-center" style="margin-top: 64px;">
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                        <h4>India Office</h4>
                        <p>
                        56-C Bharathi Park,<br>
                        2nd Cross Road,<br>
                        Saibaba Colony,<br>
                        Coimbatore – 641 011,<br>
                        India. </p>

                </div>
              
            <div class="col-lg-4 col-lg-offset-2 text-center" style="margin-top: -193px; left: -290px;">
                <i class="fa fa-phone fa-2x wow bounceIn"></i>
                <p>+91-422-245 0061</p>
            </div>

            <div class="col-lg-4 col-lg-offset-2 text-center" style="margin-top: -123px; left: -290px;">
                <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">info@altius-ecom.com</a></p>
            </div>
        </div>
    </div>
</section>

